// Есть сомнения у меня по цветам. Брал их из Figma, но на моём hdr мониторе, как будто они еле заметны.

.wrapper {
  inline-size: 100%;
  block-size: 100%;
  border: 1px solid #e0e5eb;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .deleteButton {
    inline-size: 38px;
    block-size: 38px;
    background-color: #fee3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    margin-left: auto;
    border-radius: 8px;

    svg {
      color: #c53030;
    }

    &:hover {
      background-color: #fed7d7;

      svg {
        color: #9b2c2c;
      }
    }

    &:disabled {
      background-color: transparent;

      svg {
        color: #9da6b4;
      }
    }
  }

  .table {
    inline-size: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-block-size: 0;

    &__header {
      display: table;
      table-layout: fixed;
      inline-size: 100%;
      background-color: #e0e5eb;
      flex-shrink: 0;
    }

    &__element {
      display: table;
      table-layout: fixed;
      inline-size: 100%;
      cursor: pointer;
      border-block: 1px solid transparent;

      //В макете есть расхождения по border. В общем виде border top и bottom. На отдельных элементах он только bottom. В реальной разработке уточнил бы у дизайнера.
      &:hover {
        background-color: #f7f8f9;
        border-bottom: 1px solid #e0e5eb;

        .deleteButton {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &__body {
      display: block;
      inline-size: 100%;
      overflow-y: auto;
      min-block-size: 0;

      &::-webkit-scrollbar {
        inline-size: 8px;
        background-color: #f8f9fa;
      }

      &::-webkit-scrollbar-thumb {
        background: #5e6674;
        inline-size: 4px;
        border-radius: 4px;
        border: 2px solid #f8f9fa;
      }
    }
  }

  .table th,
  .table td {
    padding: 8px 16px;
    text-align: left;
    font: {
      family: 'Roboto', sans-serif;
    }
    color: #697180;
  }

  .table th {
    font: {
      weight: 500;
      size: 13px;
    }
  }

  .table td {
    font: {
      weight: 400;
      size: 14px;
    }
  }

  .meterType {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .table__footer {
    inline-size: 100%;
    border-top: 1px solid #e0e5eb;
    padding: 8px 16px;
    align-self: end;
  }
}
