.wrapper {
  inline-size: 100%;
  block-size: 100%;
  border: 1px solid #e0e5eb;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .trashIcon {
    color: #ff4444;
    transition: color 0.2s;
  }

  .deleteButton {
    inline-size: 38px;
    block-size: 38px;
    background-color: #fee3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    margin-left: auto;
    border-radius: 8px;
    transition: 0.2s;

    svg {
      color: #c53030;
    }

    &:hover {
      background-color: #fed7d7;

      svg {
        color: #9b2c2c;
      }
    }

    &:disabled {
      background-color: transparent;

      svg {
        color: #9da6b4;
      }
    }
  }

  .table {
    inline-size: 100%;
    border-collapse: collapse;
    flex: 1;

    &__header {
      background-color: #e0e5eb;
    }

    &__element {
      cursor: pointer;

      &:hover {
        background-color: #f7f8f9;
        outline: 1px solid #f2f5f8;

        .deleteButton {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .table th,
  .table td {
    padding: 8px 16px;
    text-align: left;
    font: {
      family: 'Roboto', sans-serif;
      size: 13px;
    }
    color: #697180;
  }

  .meterType {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .table__footer {
    inline-size: 100%;
    border-top: 1px solid #e0e5eb;
    padding: 8px 16px;
    align-self: end;
  }
}
