@font-face {
  src: url('@assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
  font: {
    family: 'Roboto';
    weight: 400;
    style: normal;
    display: swap;
  }
}

@font-face {
  src: url('@assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2');
  font: {
    family: 'Roboto';
    weight: 500;
    style: normal;
    display: swap;
  }
}
